---
import RssIcon from '../img/svg/rss.svg';
const year = new Date().getFullYear();
---

<footer class="mt-10 bg-slate-100 py-6 text-center">
	<p>
		Copyright 2022 - {year}, Graham Hall

		<br />
		Built with <a href="https://astro.build">Astro</a>
	</p>

	<a href="/rss.xml" class="mx-auto mt-2 flex w-fit items-center justify-center"
		><RssIcon class="rss-icon" size={20} /> Subscribe with RSS</a
	>
</footer>
