---
import clsx from 'clsx';
import Avatar from './Avatar.astro';
const { pathname } = Astro.url;

interface Props {}

interface NavLink {
	label: string;

	path: string;
}

const navLinks: NavLink[] = [
	{ label: 'Blog', path: 'blog' },
	{ label: 'Now', path: 'now' },
	{ label: 'Projects', path: 'projects' },
];

const pathComponents = pathname.split('/').slice(1);
---

<header
	class="flex p-4 justify-between bg-slate-200/50 backdrop-blur-lg fixed w-screen top-0 items-center border-b"
>
	<div>
		<a class="font-bold text-2xl" href="/"> ghall.space </a>
	</div>
	<nav class="flex gap-4">
		{
			navLinks.map((link) => (
				<a href={`/${link.path}`} class="relative">
					<span>{link.label}</span>
					{pathComponents[0] === link.path ? (
						<div class="h-[2px] w-full bg-blue-400 absolute" />
					) : null}
				</a>
			))
		}
	</nav>
</header>
